@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    --primary-color: #ff9e00;
    --heading-color: #060500;
    --font-color: #58595b;
}

body.dark,
body.dark header {
    background-color: #131212;
}

body.dark main p {
    color: #c2c2c2;
}

body.dark main h3,
body.dark main h5 {
    color: #eee !important;
}

.title h6 {
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    padding-left: 65px;
    text-transform: uppercase;
    position: relative;
}

.title h6::before {
    content: '';
    position: absolute;
    top: 12px;
    left: 0;
    background-color: var(--primary-color);
    width: 50px;
    height: 1px;
}

.title h3 {
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    color: var(--heading-color);
    text-transform: capitalize;
}

p {
    line-height: 26px;
    color: var(--font-color);
}

/*------------------ TO-UP-BTN STYLE ------------------ */
.to-up-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    width: 50px;
    height: 50px;
    color: #FFF;
    border-radius: 50%;
    border: none;
    background-color: var(--primary-color);
    margin-bottom: -100px;
    transition: all .6s ease;
}

.to-up-btn:hover {
    opacity: 0.8;
}

/*------------------ HADER STYLE ------------------ */

header {
    min-height: 100px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease;
    background-color: transparent;
}

body header.scrolled {
    background: #FFF;
    min-height: 90px;
    box-shadow: 0 25px 90px 0 rgb(4 2 0 / 3%)
}

body.dark header.scrolled {
    background: #000;
    min-height: 90px;
}

body.dark header {
    background-color: transparent;
}

header nav .logo {
    text-decoration: none;
    font-size: 28px;
    color: #FFF;
    font-weight: 700;
}

body header.scrolled nav .logo {
    color: #000;
}

body.dark header.scrolled nav .logo {
    color: #FFF;
}

header nav .logo span {
    color: var(--primary-color);
}

header nav ul li {
    padding: 0 12px;
}

header nav ul a {
    transition: all .5s ease;
    position: relative;

}

body.dark header nav ul a {
    transition: all .5s ease;
    position: relative;
}

a.link {
    text-decoration: none;
    color: #FFF;
}

header.scrolled a.link {
    color: #060500;
    opacity: .8;
}

body.dark header.scrolled a.link {
    color: #eee;
    opacity: 1;
}

a.link:before,
a.dropdown-item:before {
    position: absolute;
    content: '';
    background: var(--primary-color);
    width: 0px;
    height: 2px;
    bottom: -5px;
    transition: all .5s ease;
}

header nav ul a:hover,
header nav ul a:hover::before {
    color: var(--primary-color) !important;
    width: 100%;
}

header nav .dropdown-menu a:hover::before {
    color: var(--primary-color) !important;
    width: 85%;
}

header nav a.active {
    color: var(--primary-color) !important;
}

header .search-btn,
.passion .btn-warning,
.blog .read-more-btn,
.invite .Services-btn {
    padding: 18px 38px;
    font-weight: 500;
    background-color: var(--primary-color);
    border-radius: 4px;
    line-height: 16px;
    transition: .3s ease;
}

header .search-btn:hover,
.passion .btn-warning:hover,
.blog .read-more-btn:hover,
.invite .Services-btn:hover {
    background-color: #ff8500;
    border-color: #ff8500;
}

body.dark header.scrolled .dark-btn {
    color: #FFF;
}

body header.scrolled .dark-btn {
    color: #000
}

header .dark-btn {
    border: none;
    background-color: transparent;
    color: #FFF;
    font-size: 20px;
}

.navbar-toggler {
    background-color: var(--primary-color);
    color: #FFF;
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.collapse.show,
.collapsing {
    background-color: #f8f9fa;
    border-radius: 5px;
    margin-top: 10px;
    padding: 20px;
}

.collapsing a,
.collapse.show a {
    color: #000;
}

.collapsing ul li,
.collapse.show ul li {
    padding: 2px 0;
    width: 100%;
    padding: 10px 0;
}

/*------------------ HERO STYLE ------------------ */
.hero {
    background: url(../images/banner2.jpg) no-repeat center !important;
    background-size: cover;
    position: relative;
    z-index: 0;
}

body.dark .hero::before {
    background-color: rgba(6, 1, 14, 70%) !important;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(6 1 14 / 58%);
}

.hero .content {
    padding-top: 64px;
    position: relative;
    z-index: 3;
}

.hero .content ul {
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #ffffff24;
    padding: 8px 20px;
    border-radius: 35px;
}

.hero .content ul li.active {
    color: #FFF;
    font-weight: 600;
}

.hero .content ul li.active span {
    font-size: 12px;
    font-weight: 900;
}

.hero .content ul a {
    text-decoration: none;
    color: var(--primary-color);
    line-height: 1.5;
    opacity: 0.9;
    font-weight: 600;
}

/*------------------ BLOGES STYLE ------------------ */

.bloges .my-card img {
    border-radius: 8px;
}

.bloges .my-card .date h6 {
    line-height: 25px;
    color: var(--font-color);
}

.bloges .my-card .date .admin {
    font-size: 17px;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 600;
}

.bloges .my-card .title {
    text-decoration: none;
    color: var(--heading-color);
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    margin: 8px 0 15px;
    display: block;
    text-transform: capitalize;
    transition: all .3s ease;
}

.bloges .my-card .title:hover {
    color: var(--primary-color);
}

.bloges .my-card p {
    max-width: 772px;
}

/*------------------ CATEGORIES STYLE ------------------ */
.categories {
    margin-bottom: 40px;
}

.heading h4 {
    margin-bottom: 30px;
    font-size: 22px;
    line-height: 30px;
    font-weight: 600;
    color: var(--heading-color);
}

.categories .my-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.categories .my-list .list-item a {
    text-decoration: none;
    color: var(--heading-color);
    margin-bottom: 6px;
    display: flex;
    align-items: baseline;
    font-weight: 600;
    font-size: 17px;
    line-height: 25px;
    transition: all .3s ease;
}

.categories .my-list .list-item a i {
    color: var(--primary-color);
    font-size: inherit;
    margin-right: 8px;
}

.categories .my-list .list-item .count {
    margin-left: auto;
    width: 27px;
    height: 27px;
    font-size: 12px;
    line-height: 27px;
    background-color: #f3f2f2;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories .my-list .list-item:hover a {
    color: var(--primary-color);
}

/*------------------ RECENT_POSTS STYLE ------------------ */
.recent-posts {
    margin-bottom: 40px;
}

.recent-posts .post {
    display: flex;
    margin-bottom: 5px;
    max-width: 305px;
}

.recent-posts .post img {
    max-width: 85px;
    border-radius: 4px;
    margin-right: 25px;
}

.recent-posts .post .text a {
    text-decoration: none;
    color: var(--heading-color);
    font-weight: 600;
    display: inline-block;
    margin-bottom: 6px;
    transition: all .3s ease;
}

.recent-posts .post .text a:hover {
    color: var(--primary-color);
}

/*------------------ TAGS STYLE ------------------ */
.tags {
    padding-left: 20px;
    margin-bottom: 40px;
}

.tags .linkes {
    width: 310px;
}

.tags .linkes a {
    text-decoration: none;
    color: #060500;
    background-color: #f3f2f2;
    border-radius: 6px;
    padding: 7px 24px 9px;
    margin: 0 4px 8px 0;
    display: inline-block;
    font-weight: 700;
    border: 1px solid var(--border-color-light);
    transition: all .1s ease;
}

.tags .linkes a:hover {
    background-color: var(--primary-color);
    color: #FFF;
}

/*------------------ Advertisement STYLE ------------------ */
.Advertisement {
    width: 310px;
    padding-left: 20px;
}

.Advertisement img {
    border-radius: 4px;
    margin: 0 auto;
}

/*------------------ PAGER STYLE ------------------ */
.pager ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.pager ul li {
    margin: 0 2px;
}

.pager ul a {
    text-decoration: none;
    color: var(--heading-color);
    /* border-color: var(--heading-color); */
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
    transition: all .2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.pager ul a.active,
.pager ul a:hover {
    background: #000;
    color: #FFF;
}

/*------------------ FOOTER STYLE ------------------ */
.footer {
    background-color: #000;
}

.footer .logo a {
    text-decoration: none;
    color: #FFF;
    font-size: 30px;
    font-weight: 700;
    line-height: 46px;
    margin-bottom: 15px;
    display: block;
    padding: 5px 0;
}

.footer .logo a span {
    color: var(--primary-color);
}

.footer .parahny {
    color: #fff5ee;
    font-size: 14px;
    max-width: 338px;
}

.footer .listes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.footer .listes ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

.footer .listes ul li {
    margin-bottom: 10px;
}

.footer .listes ul li a {
    font-size: 14px;
    opacity: 0.8;
    text-decoration: none;
    color: #fff5ee;
    transition: all .1s ease;
}

.footer .listes ul li a:hover {
    color: #FFF;
    opacity: 1;
}

.footer .footer-title {
    color: #FFF;
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
    margin-bottom: 32px;
}

.footer .footer-4 p {
    color: #fff5ee;
    font-size: 14px;
    line-height: 26px;
}

.footer .footer-4 form {
    margin-top: 25px;
}

.footer .footer-4 input {
    background-color: #0e0e0e;
    outline: none;
    padding: 15px 20px;
    border-radius: 0.25rem 0 0 0.25rem;
    color: #FFF;
    border: none;
}

.footer .footer-4 button {
    background-color: var(--primary-color);
    color: #FFF;
    border-radius: 0 0.25rem 0.25rem 0;
    padding-left: 0;
    border: none;
    width: 18%;
    font-size: 16px;
    height: 52px;
}

.footer .footer-4 button i {
    font-weight: 900;
}

.social-media a {
    color: #FFF;
    margin-right: 14px;
    transition: all .3s ease;
}

.social-media a:hover {
    color: var(--primary-color);
}

.footer .copyright {
    margin-top: 60px;
}

.footer .copyright p {
    color: #fff5ee;
    font-size: 14px;
}

.footer .copyright p a {
    text-decoration: none;
    color: #fff5ee;
}

.footer .copyright p a:hover {
    text-decoration: underline;
    color: var(--primary-color);
}

/*------------------ RESPONSIVE ------------------ */

/* Mobile - أقل من 480 */
@media (max-width: 479px) {
    .title h3 {
        font-size: 26px;
        line-height: 32px;
    }

    .featured-info .grids a {
        font-size: 17px;
    }
}

/* Tablet - من 480 إلى أقل من 767 */
@media (min-width: 480px) and (max-width: 766px) {
    .title h3 {
        font-size: 30px;
        line-height: 40px;
    }

    .tags .linkes {
        width: 100%;
    }

    .Advertisement img,
    .Advertisement {
        padding: 0;
    }
}

/* Tablet - من 480 إلى أقل من 988 */

@media (min-width: 480px) and (max-width: 988px) {
    .tags .linkes {
        width: 100%;
    }

    .Advertisement {
        width: 100%;
    }

    .tags {
        padding: 0;
    }
}

/* Desktop - 767 وطالع */
@media (min-width: 767px) {
    .title h3 {
        font-size: 32px;
        line-height: 42px;
    }

    .services-info .title {
        padding-left: 48px;
    }
}