@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    --primary-color: #ff9e00;
    --heading-color: #060500;
    --font-color: #58595b;
}

body.dark,
body.dark header {
    background-color: #131212;
}

body.dark main p {
    color: #c2c2c2 !important;
}

body.dark main h3,
body.dark main h5 {
    color: #eee !important;
}

body.dark .hero::before {
    background-color: rgba(6, 1, 14, 70%) !important;
}

body.dark section {
    background: #000;
}

/*------------------ HADER STYLE ------------------ */

header {
    min-height: 100px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease;
    background-color: transparent;
}

body.dark header {
    background-color: transparent;
}

header nav .logo {
    text-decoration: none;
    font-size: 28px;
    color: #FFF;
    font-weight: 700;
}

header nav .logo span {
    color: var(--primary-color);
}

header nav ul li {
    padding: 0 12px;
}

header nav ul a {
    transition: all .5s ease;
    position: relative;

}

body.dark header nav ul a {
    transition: all .5s ease;
    position: relative;
}

a.link {
    text-decoration: none;
    color: #FFF;
}

a.link:before,
a.dropdown-item:before {
    position: absolute;
    content: '';
    background: var(--primary-color);
    width: 0px;
    height: 2px;
    bottom: -5px;
    transition: all .5s ease;
}

header nav ul a:hover,
header nav ul a:hover::before {
    color: var(--primary-color) !important;
    width: 100%;
}

header nav .dropdown-menu a:hover::before {
    color: var(--primary-color) !important;
    width: 85%;
}

header nav a.active {
    color: var(--primary-color) !important;
}

header .search-btn,
.passion .btn-warning,
.blog .read-more-btn,
.invite .Services-btn {
    padding: 18px 38px;
    font-weight: 500;
    background-color: var(--primary-color);
    border-radius: 4px;
    line-height: 16px;
    transition: .3s ease;
}

header .search-btn:hover,
.passion .btn-warning:hover,
.blog .read-more-btn:hover,
.invite .Services-btn:hover {
    background-color: #ff8500;
    border-color: #ff8500;
}

header .dark-btn {
    border: none;
    background-color: transparent;
    color: #FFF;
    font-size: 20px;
}

.navbar-toggler {
    background-color: var(--primary-color);
    color: #FFF;
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.collapse.show,
.collapsing {
    background-color: #f8f9fa;
    border-radius: 5px;
    margin-top: 10px;
    padding: 20px;
}

.collapsing a,
.collapse.show a {
    color: #000;
}

.collapsing ul li,
.collapse.show ul li {
    padding: 2px 0;
    width: 100%;
    padding: 10px 0;
}

/* .dropdown-menu.show {
    min-width: 100% !important;
}

.dropdown-menu.show li {
    padding: 0 !important;
}

.dropdown-menu.show li a {
    padding: 0 16px 10px;
    width: 100px;
}

.dropdown-menu.show li:hover a {
    background: transparent;
}

#navbarSupportedContent {
    max-height: 80vh;
    overflow-y: auto;
    scrollbar-width: thin;
} */


/*------------------ HERO STYLE ------------------ */

.hero {
    overflow: hidden;
    /* height: 100vh; */
    position: relative;
}

.carousel-item#first-carousel-item {
    background-image: url(../images/banner1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.carousel-item#secound-carousel-item {
    background-image: url(../images/banner2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.carousel-item#third-carousel-item {
    background-image: url(../images/banner3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.carousel-item#fourth-carousel-item {
    background-image: url(../images/banner4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.hero .content {
    position: absolute;
    padding: 0 15px;
    height: 231px;
    top: calc(50% - 115.5px);
    z-index: 5;
}

.hero::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(6 1 14 / 58%);
    z-index: 1;
}

.hero .content h5 {
    font-size: 17px;
    color: #FFF;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 12px;
}

.hero .content h3 {
    font-size: 80px;
    color: #FFF;
    font-weight: 700;
    line-height: 90px;
    margin: 0;
}

.hero .content a {
    color: #FFF;
    border: 1px solid #FFF;
    padding: 18px 38px;
    transition: all .5s ease;
    line-height: 16px;
}

.hero .content a:hover {
    background: var(--primary-color);
    border-color: var(--primary-color);
}

.carousel-control-next,
.carousel-control-prev {
    background-color: rgba(255, 255, 255, 0.21);
    width: 50px;
    height: 50px;
    margin: 0 20px !important;
    margin-top: calc(50vh - 15px) !important;
    border-radius: 50%;
    color: #FFF;
    transition: all .5s ease;
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
    background-color: #FFF;
    color: var(--primary-color);
}


/* ??????????????????????? */
/* @media (max-width: 995px) {
    .media {
        position: static;
        grid-template-columns: 1fr;
        // right: 0;
        // bottom: 0; 
        width: 100%;
    }

}

.media {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 6;
    background-color: #58595b;
    width: 68%;
}

.media1,
.media2 {
    padding: 60px 40px;
}

.media1 {
    color: #FFF;
    background-color: #000;
    display: grid;
    align-items: center;
    min-height: 100% !important;

}

.media1 h3 {
    font-size: 32px;
    line-height: 42px;
    font-weight: 700;
}

.media2 {
    background-color: #151414;
}

.media2 p {
    opacity: 0.7;
    color: #FFF;
}

.media3 {
    background-image: url(../images/g3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

.media a.play {
    text-decoration: none;
    color: var(--primary-color);
    border-radius: 50%;
    border: 2px solid #FFF;
    padding: 15px;
    z-index: 2;
}

.media a.play i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    background-color: #FFF;
    border-radius: 50%;
    transition: all .5s ease;
}

.media a.play i:hover {
    transform: scale(1.1);
} */

/*------------------ ABOUT-US STYLE ------------------ */

.about-us .title h6 {
    color: var(--primary-color);
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    position: relative;
    padding-left: 65px;
}

.about-us .title h3 {
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
}

body.dark .about-us .title h3 {
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    color: #eee;
}

.about-us .title h6::after {
    content: '';
    width: 50px;
    height: 1px;
    background: var(--primary-color);
    position: absolute;
    left: 0;
    top: 12px;
    margin-left: 0;
}

.about-us .pr {
    color: var(--font-color);
    line-height: 26px;
    margin: 0;
}

.my-card {
    position: relative;
    background-color: transparent;
}

.my-card .image {
    overflow: hidden;
}

.my-card:hover .image img {
    scale: calc(1.1);
}

.my-card .image img {
    transition: all .5s ease;
}

.my-card .info {
    background-color: rgb(0 0 0 / 65%);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: grid;
    align-content: center;
    padding-left: 48px;
}

.my-card .info a {
    text-decoration: none;
    color: #FFF;
}

.my-card .info h6 a {
    font-size: 14px;
    opacity: 0.9;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 14px;
    text-transform: uppercase;
}

.my-card .info h3 a {
    font-size: 26px;
    font-weight: 600;
    line-height: 38px;
}

/*------------------ VIDEO STYLE ------------------ */

.video {
    background: url(../images/banner5.jpg) no-repeat center !important;
    position: relative;
}

.video::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(6 1 14 / 58%);
}

.video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.video .icon a {
    text-decoration: none;
    color: var(--primary-color);
    border-radius: 50%;
    border: 2px solid #FFF;
    padding: 15px;
    z-index: 2;
}

.video .icon a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    background-color: #FFF;
    border-radius: 50%;
    transition: all .5s ease;
}

.video .icon a i:hover {
    transform: scale(1.1);
}

/*------------------ POSSION STYLE ------------------ */

.passion .title h6::before,
.gallery .title h6::before,
.stats .title h6::before,
.blog .title h6::before,
.invite .title h6::before,
.testimonials .title h6::before {
    content: '';
    width: 50px;
    height: 1px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    top: 12px;
    border: 0;
}

.passion .title h6,
.gallery .title h6,
.stats .title h6,
.blog .title h6,
.invite .title h6,
.testimonials .title h6 {
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    color: var(--primary-color);
    padding-left: 65px;
    position: relative;
    margin-bottom: 4px;
}

.passion .title h3,
.gallery .title h3,
.stats .title h3,
.blog .title h3,
.invite .title h3,
.testimonials .title h3 {
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    margin-bottom: 16px;
}

.passion .title p {
    font-size: 16px;
    line-height: 26px;
    color: var(--font-color);
    margin-bottom: 48px;
}

.passion .icons-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.passion .icons-list li .info {
    padding-left: 25px;
}

.passion .icons-list i {
    color: var(--primary-color);
    font-size: 24px;
    margin-top: 7px;
}

.passion .icons-list h5 {
    font-size: 20px;
    color: var(--heading-color);
    font-weight: 600;
    margin-bottom: 6px;
}

.passion .icons-list p {
    font-size: 16px;
    color: var(--font-color);
    line-height: 26px;
}

.passion .btn-warning {
    font-size: 16px;
}

.passion img {
    border-radius: 4px;
    max-width: 522px;
}

/*------------------ GALLERY STYLE ------------------ */
.gallery {
    background-color: #f3f2f2;
}

ul.gallery_agile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    grid-gap: 20px;
}

ul.gallery_agile li {
    list-style: none;
}

.gallery .title,
.blog .title {
    max-width: 700px;
    margin: 0 auto;
}

.gallery .title h6,
.blog .title h6,
.testimonials .title h6 {
    display: inline-block;
}

.portfolio_grid {
    position: relative;
}

.portfolio_grid img {
    border-radius: 4px;
}

.my-search-icon {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(1, 28, 37, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: transform 450ms ease;
    transform: scale(0);
}

.portfolio_grid :hover .my-search-icon,
.portfolio_grid :hover .my-search-icon i {
    transform: scale(1);
}

.my-search-icon i {
    text-decoration: none;
    color: #FFF;
    font-size: 26px;
    font-weight: 900;
    transform: scale(0);
    transition: transform 400ms ease 280ms;
}

/*------------------ STATS STYLE ------------------ */

.owl-carousel img {
    border-radius: 4px;
}

.owl-carousel {
    position: relative;
}

.stats .title p {
    line-height: 26px;
    color: var(--font-color);
}

.stats .numbers .counter {
    font-size: 40px;
    font-weight: 700;
    line-height: 26px;
    margin: 30px 0;
}

.stats .numbers h3 {
    font-size: 18px;
    color: var(--primary-color);
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 8px;
}

.owl-prev span,
.owl-next span {
    padding: 0 6px !important;

}

.owl-prev,
.owl-next {
    padding: 0 6px !important;
    margin: 0 !important;
    font-size: 30px !important;
    color: #FFF !important;
    width: 44px !important;
    height: 44px !important;
    background-color: rgba(255, 255, 255, 0.21) !important;
    border-radius: 50% !important;
    position: absolute;
    transition: all .5s ease;
}

.owl-prev:hover,
.owl-next:hover {
    background-color: #FFF !important;
    color: var(--primary-color) !important;
}

.owl-prev {
    top: calc(50% - 22px);
    left: 10px;
}

.owl-next {
    top: calc(50% - 22px);
    right: 10px;
}

/*------------------ BLOG STYLE ------------------ */
.blog .card {
    border: none;
}

.blog .card img {
    border-radius: 8px;
}

.blog .card .date h6 {
    color: var(--font-color);
    line-height: 25px;
    font-weight: normal;
    margin: 0;
}

.blog .card .date a {
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    color: var(--primary-color);
}

.blog .card .title {
    text-decoration: none;
    color: var(--heading-color);
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    display: inline-block;
    margin: 8px 0 15px;
    transition: all .3s ease;
}

.blog .card .title:hover {
    color: var(--primary-color);
}

.card {
    background: transparent;
}

/*------------------ invite STYLE ------------------ */
.invite {
    background-color: #f3f2f2;
}

.invite .title p {
    color: var(--font-color);
    line-height: 26px;
    max-width: 624px;
}

.invite .Services-outline-btn {
    padding: 18px 38px;
    font-weight: 500;
    border-radius: 4px;
    line-height: 16px;
    transition: .3s ease;
}

.invite .Services-outline-btn:hover {
    background-color: var(--primary-color);
}

.invite .row {
    justify-content: space-between;
}

/*------------------ TESTIMONIALS STYLE ------------------ */
.testimonials {
    padding: 8px 15px;
}

.testimonials .title h3 {
    max-width: 600px;
    margin: 0 auto;
}

.testimonials .header .title p {
    margin-bottom: 0;
    color: var(--font-color);
    opacity: 0.5;
    font-size: 14px;
}

.testimonials .header {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    grid-gap: 20px;
}

.testimonials .header .image {
    width: 70px;
    height: 70px;
    margin-bottom: 16px;
}

.testimonials .header .image img {
    max-height: 100%;
    object-fit: cover;
    object-position: center;
    min-width: 100%;
}

.testimonials .header h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
}

.testimonials .owl-item .testimonials {
    padding: 40px;
    margin: 30px 10px;
    box-shadow: 0px 2px 12px rgb(0 0 0 / 8%);
    border-radius: 4px;
}

.testimonials .body p {
    font-size: 15px;
    color: var(--font-color);
    font-style: italic;
    line-height: 26px;
    font-weight: 400;
}

.testimonials .body i {
    color: var(--primary-color);
    font-size: 25px;
    opacity: 0.7;
}

.owl-dots button.active span {
    background-color: var(--primary-color) !important;
}

.owl-dots button span {
    width: 12px !important;
    height: 12px !important;
    background-color: var(--heading-color);
    opacity: 0.7;
}


.owl-dots button:hover span {
    background-color: var(--primary-color) !important;
}

/*------------------ TO-UP-BTN STYLE ------------------ */
.to-up-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    width: 50px;
    height: 50px;
    color: #FFF;
    border-radius: 50%;
    border: none;
    background-color: var(--primary-color);
    margin-bottom: -100px;
    transition: all .6s ease;
}

.to-up-btn:hover {
    opacity: 0.8;
}

/*------------------ FOOTER STYLE ------------------ */
.footer {
    background-color: #000;
}

.footer .logo a {
    text-decoration: none;
    color: #FFF;
    font-size: 30px;
    font-weight: 700;
    line-height: 46px;
    margin-bottom: 15px;
    display: block;
    padding: 5px 0;
}

.footer .logo a span {
    color: var(--primary-color);
}

.footer .parahny {
    color: #fff5ee;
    font-size: 14px;
    max-width: 338px;
}

.footer .listes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.footer .listes ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

.footer .listes ul li {
    margin-bottom: 10px;
}

.footer .listes ul li a {
    font-size: 14px;
    opacity: 0.8;
    text-decoration: none;
    color: #fff5ee;
    transition: all .1s ease;
}

.footer .listes ul li a:hover {
    color: #FFF;
    opacity: 1;
}

.footer .footer-title {
    color: #FFF;
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
    margin-bottom: 32px;
}

.footer .footer-4 p {
    color: #fff5ee;
    font-size: 14px;
    line-height: 26px;
}

.footer .footer-4 form {
    margin-top: 25px;
}

.footer .footer-4 input {
    background-color: #0e0e0e;
    outline: none;
    padding: 15px 20px;
    border-radius: 0.25rem 0 0 0.25rem;
    color: #FFF;
    border: none;
}

.footer .footer-4 button {
    background-color: var(--primary-color);
    color: #FFF;
    border-radius: 0 0.25rem 0.25rem 0;
    padding-left: 0;
    border: none;
    width: 18%;
    font-size: 16px;
    height: 52px;
}

.footer .footer-4 button i {
    font-weight: 900;
}

.social-media a {
    color: #FFF;
    margin-right: 14px;
    transition: all .3s ease;
}

.social-media a:hover {
    color: var(--primary-color);
}

.footer .copyright {
    margin-top: 60px;
}

.footer .copyright p {
    color: #fff5ee;
    font-size: 14px;
}

.footer .copyright p a {
    text-decoration: none;
    color: #fff5ee;
}

.footer .copyright p a:hover {
    text-decoration: underline;
    color: var(--primary-color);
}